%p.notice= notice
 
%p
	%strong Name: 
	= @post.name
 
%p
	%strong Title: 
	= @post.title
 
%p
	%strong Content: 
	= @post.content

%p
	%strong Tags:
	= join_tags(@post)
 
%h2 Comments
= render :partial => "comments/comment", :collection => @post.comments
 
%h2 Add a comment:
= render "comments/form"
 
%br
 
= link_to 'Edit Post', edit_post_path(@post) 
= link_to 'Back to Posts', posts_path
